<!DOCTYPE html>
<html>
  <head>
   <title><%= title %></title>
   <link rel="stylesheet" type="text/css" href="style.css">
  </head>
	<body>
		<p class = "sample">
		 <form action="/users/input" method="GET">
		 <h1>What's your name?</h1>
			 name:<input type="text" name="title" id="title" /><br>
			 <button id="but">送信</button>
		 </form>
		</p>
	</body>
</html>
